<!DOCTYPE html>
<html ng-app='inventory'>

  <head>
    <meta charset='utf-8'>
    <title>Shopular</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
    integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
    <link rel="stylesheet" href="sass/inventory.css">
  </head>

  <body>

    <header ng-controller='LoginController as logCtrl' class='page-header'>

      <h1>Shopular</h1>
      <p>The Most Shoptacular Shop Ever.</p>

      <form class='form-group form-inline' name='loginform'
            ng-submit='loginform.$valid && logCtrl.addUser(logCtrl.newUser)'>

        <input ng-model='logCtrl.newUser.username' class='form-control' type='text'
               name='username' placeholder='Username'>

        <input type='submit' class='form-control btn btn-primary loginForm' value='Log In'>
        <p ng-cloak ng-repeat='users in logCtrl.users'>Welcome, {{users.username}}!  You have been logged in since {{users.loginTime}}</p>

      </form>

    </header>

    <main ng-controller='InventoryController as iCtrl' class='container'>

      <form name='addinv' class='form-group'
            ng-submit='addinv.$valid && iCtrl.addItem(iCtrl.newItem);
            addinv.$setPristine(); addinv.$setUntouched();'
            novalidate>

        <label for='nameInput'>Item Name</label>
        <input ng-model='iCtrl.newItem.name' class='form-control' type='text'
               name='nameInput' required placeholder='Name'>

        <label for='priceInput'>Item Price</label>
        <input ng-model='iCtrl.newItem.price' class='form-control' type='number'
               name='priceInput' min='0' required placeholder='0.00'>

        <label for='quantityInput'>Quantity</label>
        <input ng-model='iCtrl.newItem.quantity' class='form-control' type='number'
               name='quantityInput' min='0' required placeholder='0'>

        <label for='colorInput'>Item Color</label>
        <input ng-model='iCtrl.newItem.color' class='form-control' type='text'
               name='colorInput' placeholder='Color'>

        <label for='discountInput'>Discount</label>
        <input ng-model='iCtrl.newItem.discount' class='form-control' type='number'
               name='discountInput' min='0' value='0' placeholder='0'>

        <input class='form-control btn btn-primary submitBtn' type='submit' value='Add Item'>
      </form>

      <p class='alert alert-warning' ng-cloak
         ng-show='addinv.nameInput.$touched && !addinv.nameInput.$valid'>Please enter a valid item name!</p>
      <p class='alert alert-warning' ng-cloak
         ng-show='addinv.priceInput.$touched && !addinv.priceInput.$valid'>Items must have a valid price!</p>
      <p class='alert alert-warning' ng-cloak
         ng-show='addinv.quantityInput.$touched && !addinv.quantityInput.$valid'>Please enter a valid quantity!</p>
      <p class='alert alert-warning' ng-cloak
         ng-show='addinv.colorInput.$touched && !addinv.colorInput.$valid'>Please enter an item color!</p>
      <p class='alert alert-warning' ng-cloak
         ng-show='addinv.discountInput.$touched && !addinv.discountInput.$valid'>Item discount cannot be less than $0.00!</p>

      <table class='table table-striped col-lg-8'>

        <tr>
          <th><a href="#" ng-click='sortType ="name" ; sortReverse = !sortReverse'>Name</a></th>
          <th><a href="#" ng-click='sortType ="price" ; sortReverse = !sortReverse'>Price</a></th>
          <th><a href="#" ng-click='sortType ="quantity" ; sortReverse = !sortReverse'>Quantity</a></th>
          <th><a href="#" ng-click='sortType ="color" ; sortReverse = !sortReverse'>Color</a></th>
        </tr>

        <tr ng-repeat='inventory in iCtrl.inventoryList | orderBy:iCtrl.sortType:sortReverse'>

          <td>{{inventory.name}}</td>
          <td>{{iCtrl.finalPrice(inventory) | currency:"$"}}
          <img src='/img/98350f05-sale_2.png' alt='sale tag' ng-show='inventory.discount'></td>
          <td><input type='number' name='quantInput' ng-model='inventory.quantity' min='0'></td>
          <td>{{inventory.color}}</td>
        </tr>

        </table>

      </main>

    <footer>I'm a footer!</footer>

    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js'></script>
    <script src='/js/inventory.module.js'></script>
    <script src='/js/inventory.controller.js'></script>
    <script src='/js/item.service.js'></script>
    <script src='/js/user.service.js'></script>
    <script src='/js/login.controller.js'>

    </script>

  </body>

</html>
